<div class="main-panel">

    <div class="row">
      <div class="grid-margin">
        <div class="container">
          <form method="post">
            <h3>Fund Account</h3>
            <hr />
            <%-include("../partials/messages")%>
            <div class="mb-3">
              <label for="">Username</label>
              <input
                type="text"
                name="username"
                placeholder="username"
                class="form-control"
              />
              <br />
              <label for="">Tokens</label>
              <input
                type="number"
                name="tokens"
                class="form-control"
                placeholder="tokens"
              />
              <br />
              <button type="submit" class="btn btn-success">Fund</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="grid-margin">
        <div class="container">
          <form method="post" action="/admin/send-mesage">
            <h3>Send Message</h3>
            <hr />
            <%-include("../partials/messages")%>
            <div class="mb-3">
              <label for="">Message</label>
              <br />
              <textarea
                name="message"
                style="min-width: 400px; min-height: 300px"
              ></textarea>
              <br />
              <button type="submit" class="btn btn-success">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap4.min.js"></script>

<script>
  new DataTable("#myTable", {
    orderable: false,
    sorted: false,
  });
  new DataTable("#myTable2", {
    orderable: false,
    sorted: false,
  });
</script>
