<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>King Phisher - Ethical Social Media Hacking Tool</title>
  <link rel="stylesheet" href="/css/modern-home.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>
<body>
  <section class="home_hero">
    <div class="hero_content">
      <div class="hero_logo">
        <img src="/img/logo.png" alt="King Phisher Logo" loading="lazy" />
      </div>
      <h1>King Phisher</h1>
      <h2>An Ethical Social Media Hacking Tool</h2>
      <p class="hero_desc">
        Developed by for ethical hacking.<br>
        <span class="hero_edu">For educational purposes only.</span>
      </p>
      <div class="hero_buttons">
        <a class="hero_btn" href="/signin"><i class="fa fa-sign-in"></i> Login</a>
        <a class="hero_btn hero_btn_alt" href="/signup"><i class="fa fa-user-plus"></i> Signup</a>
        <a class="hero_btn" target="_blank" href="https://t.me/+kFAsCwWTgyw1YmVk"><i class="fa fa-telegram"></i> Tutorials</a>
      </div>
      <div class="hero_contact">
        Need a website for your business? <a href="https://wa.me/2349014652063" target="_blank">DM us on WhatsApp</a>.
      </div>
    </div>
  </section>
</body>
</html>
