<style>
  form button {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
  }

  #submit2 img {
    width: 1.3em;
    animation-name: roll;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
  }

  @keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
<div class="main-panel">
  <div class="content-wrapper">
    <h2>Purchase Tokens</h2>
    <br />
    <p>You need to purchase tokens to create phishing links</p>

    <form class="form mt-4" id="paymentForm" style="max-width: 500px">
      <%-include("./partials/messages")%>
      <div class="mb-3">
        <label for="" class="text-white">Your username</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%=req.user.username%>"
          readonly
          class="form-control bg-dark text-white"
          required
        />
        <br />
        <input
          type="number"
          placeholder="Enter the number of tokens you want to purchase"
          name="tokens"
          id="tokens"
          value="1"
          min="1"
          max="50"
          class="form-control text-white"
          required
        />
        <small class="text-white"
          >Enter the number of tokens you want to purchase</small
        ><br />
        <small>1 token = 1500</small>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control text-white bg-dark"
          name="price"
          required
          readonly
          id="amount"
          value="N1500"
        />
        <small class="text-white">Price in NAIRA</small>
        <br />
        <br />
        <p>
          If you can't pay with naira kindly send us a DM on whatsapp for other
          currecny payment.
        </p>
        <br />
        <br />
        <p style="text-transform: uppercase">
          Please contact us on Whatsapp immediately payment is made.!!!
        </p>
        <br />
      </div>
      <div class="form-submit">
        <button
          type="button"
          class="LogInBTN btn btn-success mr-4"
          id="submit"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Buy Now
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
          Make Payment
        </h1>
      </div>
      <div class="modal-body">
        <p class="text-center text-bold">
          Make payment to the following account and send us your
          receipt/screenshot and username to us via <b>Whatsapp</b>
        </p>
        <br />
        <p class="text-center text-bold">For Naira Payments only</p>
        <br />
        <input
          type="text"
          class="copyInput form-control bg-dark text-white"
          style="width: 100%"
          value="5466918820"
          readonly
        />
        <input
          type="text"
          class="form-control bg-dark text-white"
          style="width: 100%"
          value="GODWIN IDEMUDIA"
          readonly
        />
        <input
          type="text"
          class="form-control bg-dark text-white"
          style="width: 100%"
          value="Moniepoint MFB"
          readonly
        />
        <br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>

<script>
  const tokens = document.querySelector("#tokens");
  const price = document.querySelector("#amount");
  const price2 = document.querySelector("#amount2");

  tokens.addEventListener("input", (e) => {
    if (!isNaN(Number(tokens.value))) {
      price.value = "N" + addCommasToNumber(Number(tokens.value * 1500));
      price2.value =
        "$" +
        addCommasToNumber(Number(tokens.value * 1500 * 0.00076923).toFixed(1));
    } else {
      price.value = "N" + addCommasToNumber(1500);
      price2.value = "$" + addCommasToNumber(1.2);
      tokens.value = 1;
    }
  });

  function addCommasToNumber(number) {
    // Convert the number to a string
    var numberString = number.toString();

    // Use regular expression to add commas
    numberString = numberString.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

    return numberString;
  }
</script>
