<style>
  form button {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
  }

  #submit2 img {
    width: 1.3em;
    animation-name: roll;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: white;
  }

  @keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
<div class="main-panel">
  <div class="content-wrapper">
    <h2>Purchase Tokens</h2>
    <p>You need to purchase tokens to create phishing links</p>
    <form class="form mt-4" id="paymentForm" style="max-width: 500px">
      <%-include("./partials/messages")%>
      <div class="mb-3">
        <input
          type="hidden"
          id="username"
          name="username"
          value="<%=req.user.username%>"
        />
        <input
          type="number"
          placeholder="Enter the number of tokens you want to purchase"
          name="tokens"
          id="tokens"
          value="1"
          min="1"
          max="50"
          class="form-control text-white"
          required
        />
        <small class="text-white"
          >Enter the number of tokens you want to purchase</small
        ><br />
        <small>1 token = 1500</small>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control text-white bg-dark"
          name="price"
          required
          readonly
          id="amount"
          value="1500"
        />
        <small class="text-white">Price in NAIRA</small>
        <br />
        <br />
        <small
          >For enquiries call or contact us on whatsapp: +2349053110722</small
        >
      </div>
      <div class="form-submit">
        <button
          type="button"
          class="LogInBTN btn btn-primary"
          id="submit"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Pay Now
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
          Make Payment
        </h1>
      </div>
      <div class="modal-body">
        <p class="text-center text-bold">
          Make payment to the following account and send us your
          receipt/screenshot and username to us via whatsapp
        </p>
        <input
          type="text"
          class="copyInput form-control bg-dark text-white"
          style="width: 100%"
          value="2020623618"
          readonly
        />
        <input
          type="text"
          class="form-control bg-dark text-white"
          style="width: 100%"
          value="Godwin Idemudia"
          readonly
        />
        <input
          type="text"
          class="form-control bg-dark text-white"
          style="width: 100%"
          value="Kuda Bank"
          readonly
        />
        <br />
        <button class="copyButton btn btn-primary" onclick="copyToClipboard(0)">
          <span class="mdi mdi-content-copy icon-item"></span>
          Copy Account Number
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
  crossorigin="anonymous"
></script>

<script>
  const tokens = document.querySelector("#tokens");
  const price = document.querySelector("#amount");

  tokens.addEventListener("input", (e) => {
    if (!isNaN(Number(tokens.value))) {
      price.value = Number(tokens.value * 1500);
    } else {
      price = 1500;
      tokens.value = 1;
    }
  });
</script>
