<div class="main-panel">
  <div class="content-wrapper">
    <h3 class="text-white">Link generated successfully 🎉</h3>
    <input
      type="text"
      value="<%=req.app.voteUrl%>/vote/<%= id %>"
      class="form-control"
      id="copy"
      style="background-color: #000 !important; color: #fff !important"
    />
    <br />
    <button onclick="copyFunction()" class="btn btn-primary">
      <span class="mdi mdi-content-copy icon-item"></span>
      Copy
    </button>
    <a href="/dashboard" class="btn btn-primary">
      <span class="mdi mdi-home icon-item"></span>
      Dashboard
    </a href="/dashboard">
  </div>
</div>

<script>
  function copyFunction() {
    // Get the text field
    var copyText = document.getElementById("copy");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    alert("Copied the text: " + copyText.value);
  }
</script>
