<div class="main-panel">
  <div class="content-wrapper">
    <h3 class="text-white">Link generated successfully 🎉</h3>
    <input
    type="text"
    id="copyInput"
    value="<%=req.app.voteUrl%>/vote/<%= id %>"
    readonly
  />
    <br />
    <br/>
    <button  id="copyButton" onclick="copyToClipboard()" class="btn btn-primary">
      <span class="mdi mdi-content-copy icon-item"></span>
      Copy
    </button>
    <a href="/dashboard" class="btn btn-primary">
      <span class="mdi mdi-home icon-item"></span>
      Dashboard
    </a href="/dashboard">
  </div>
</div>
