</body>
</html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <link rel="stylesheet" href="https://cdn.discordapp.com/attachments/658099251947110442/658320443740258305/css.css">
    <title>Paypal Proofs Generator</title>
    <link rel="stylesheet" href="/tools/paypal/style.css">
</head>
<style>
  * {
    overflow: hidden;
  }
</style>
<body>
    <div class="payout">
        <br>
        <br>
        <br>
        <img src="https://cdn.discordapp.com/attachments/658059622929924096/658416971406245899/checkout_paypal.png">

        <br><br>

        <p
        style="text-align: center;"
        >You've sent <%= amount %> <%= currency %> to <%= email %></p>

        <div class="header__nav--right">
            <div class="dx-auth-block profile__container">
                <div class="dx-auth-logged-out">
                    <a style="width: 50%; height: 8%; font-size: 18px;" href="/paypal" class="css-1qlw6jl vx_btn vx_btn-block">Send More Money</a>
                </div>
            </div>
        </div>

        <a href="/paypal"><b>Go to Summary</b></a>
    </script>
</body>

</html>